.container {
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;

    &--header-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 50px;

        @media (min-width: 768px) {
            min-height: 90px;
        }

        @media (min-width: 1280px) {
            min-height: auto;
        }
    }

    &--header-content {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-auto-rows: 383px;
        grid-gap: 15px;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
            grid-auto-rows: auto;
        }
    }

    &--contacts {
        display: grid;
        grid-gap: 57px;
        justify-content: center;

        @media (min-width: 768px) {
            grid-gap: 98px;
            grid-template-columns: 1fr;
            max-width: 80%;
        }

        @media (min-width: 992px) {
            grid-template-columns: 460px 350px;
        }

        @media (min-width: 1200px) {
            grid-template-columns: 662px 350px;
        }
    }

    &--footer {
        display: grid;
        justify-content: center;
        justify-items: center;
        grid-gap: 30px;
        text-align: center;

        @media (min-width: 991px) {
            text-align: left;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
    }
}