.clients {
    background: url(../../images/clients-section.png), url(../../images/GeometryPattrn.png) @color-bg-section;
    background-size: cover, contain;
    background-repeat: no-repeat;
    padding: 100px 15px 0;
    color: @color-main;

    @media (min-width: 850px) {
        padding: 120px 15px 206px;
    }

    &__headline {
        font-family: 'MontserratRegular';
        font-weight: 400;
        font-size: 21px;
        margin-bottom: 38px;
        color: @color-main;
        text-transform: uppercase;
        text-align: center;
        
        @media (min-width: 850px) {
            font-size: 42px;
            margin-bottom: 202px;
        }
    }

    &__item {
        display: flex;
        justify-content: center;
    }

    &__img-wrap {
        width: 210px;
        height: 210px;
        background: @color-main;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;

        @media (min-width: 850px) {
            width: 316px;
            height: 316px;
        }

        img {
            transform: scale(0.7);

            @media (min-width: 850px) {
                transform: none;
            }
        }
    }

    &__num {
        font-family: 'MontserratBold', sans-serif;
        font-size: 190px;
        line-height: 0.8;
        color: @color-main;
        opacity: 0.1;
        position: absolute;
        top: 0;
        right: -40px;
        display: none;

        @media (min-width: 850px) {
            display: flex;
        }

    }

    &__content {

        @media (min-width: 768px) {
            max-width: 1574px;
            margin: 0 auto;
        }
    }
}

.glide {

    &__slide--active {
        .clients__num {
            color: @color-accent;
            opacity: 1;
        }
    }

    &__arrows {
        display: grid;
        grid-template-columns: 50px 50px;
        justify-content: center;
        grid-gap: 35px;
        justify-items: center;

        @media (min-width: 850px) {
            grid-template-columns: 75px 75px;
            grid-gap: 50px;
        }
    }

    &__arrow {
        width: 50px;
        height: 50px;

        @media (min-width: 850px) {
            width: 75px;
            height: 75px;
        }

    }

    &__arrow--left {
        transform: rotate(90deg);
    }
    &__arrow--right {
        transform: rotate(-90deg);
    }

    &__arrow-icon {
        width: 100%;
        height: 100%;
        fill: @color-accent2;
    }

    &__item {
        width: auto;
        height: auto;

        @media (min-width: 850px) {
            width: 336px;
            height: 373px;
            position: relative;
            display: flex;
            align-items: flex-end;
        }
    }

    &__track {
        margin-bottom: 55px;

        @media (min-width: 850px) {
            margin-bottom: 90px;
        }
    }
}