.work {
    padding: 40px 15px 30px;
    padding-right: 0;
    background: @color-main;

    @media (min-width: 768px) {
        background: url('../../images/work-section.png') @color-bg-section;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 90px 15px 177px;
    }

    &__headline {
        font-family: 'MontserratRegular', sans-serif;
        font-size: 14px;
        color: @color-work-section;
        margin-bottom: 48px;
        text-transform: uppercase;
        text-align: center;

        @media (min-width: 768px) {
            font-size: 26px;
            margin-bottom: 93px;
            color: @color-main;
        }
    }

    &__list {
        padding-left: 15px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background: repeating-linear-gradient(180deg, #929292, #929292 5px, transparent 5px, transparent 15px);
            width: 5px;

            @media (min-width: 768px) {
                display: none;
            }
        }

        @media (min-width: 768px) {
            padding-left: 0;
            display: grid;
            grid-template-columns: repeat(3, 177px);
            grid-auto-rows: minmax(318px, auto);
            justify-content: center;
            align-items: baseline;
            grid-column-gap: 50px;
            grid-row-gap: 40px;
            padding-top: 40px;
        }

        @media (min-width: 1080px) {
            grid-template-columns: repeat(3, 290px);
            
        }
        @media (min-width: 1630px) {
            background: url(../../images/Path.svg) no-repeat 170px 0px;
        }
    }

    &__item {
        padding-right: 15px;

        @media (min-width: 768px) {
            padding-right: 0;

            &:nth-child(4) {
                grid-column: 3;
                grid-row: 2;
            }
            &:nth-child(5) {
                grid-column: 2;
                grid-row: 2;
            }
            &:nth-child(6) {
                grid-column: 1;
                grid-row: 2;
            }
        }
        
        &:not(:last-of-type) {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);

            @media (min-width: 768px) {
                border-bottom: none;
            }
        }
    }

    &__button {
        display: grid;
        grid-template-columns: 50px 1fr 14px;
        grid-gap: 7px;
        align-items: center;
        width: 100%;
        font-family: 'MontserratBold',  sans-serif;
        background: none;
        border: none;
        position: relative;
        padding: 11px 0;
        cursor: pointer;

        &:hover,
        &:focus,
        &.active {
            .work__button-num {
                color: @color-accent2;
            }

            .work__button-icon--lg {
                fill: #1D1D1D;
            }

            .work__button-icon-wrap {
                background: @color-main;
            }
        }

        &.active  {
            .work__button-icon--sm {
                transform: rotate(180deg);
            }
        }

        @media (min-width: 768px) {
            grid-template-columns: 1fr;
            grid-gap: 20px;
            padding: 0;
            justify-items: center;

            &:hover,
            &:focus,
            &.active {
                .work__button-num {
                    color: @color-accent2;
                    text-shadow: 5px 5px 5px rgba(239, 139, 84, 0.15);
                    opacity: 1;
                }
            }
        }
    }

    &__button-desc {
        font-size: 12px;
        text-align: start;

        @media (min-width: 768px) {
            font-family: 'MontserratRegular', sans-serif;
            font-size: 18px;
            color: @color-main;
            line-height: 1.2;
            text-align: center;
        }
    }

    &__button-num {
        font-size: 32px;
        letter-spacing: 0.1em;
        display: flex;
        justify-content: center;

        @media (min-width: 768px) {
            width: 150px;
            font-size: 118px;
            color: @color-main;
            opacity: 0.1;
            position: absolute;
            right: -40px;
            top: -52px;
        }
    }

    &__button-icon-wrap {
        width: 14px;
        height: 14px;

        @media (min-width: 768px) {
            width: 180px;
            height: 180px;
            background: @color-work-btn--lg;
            padding: 50px;
            border-radius: 50%;
            grid-row: 1;
            position: relative;
        }
    }

    &__button-icon {
        width: 100%;
        height: 100%;
        
        &--sm {
            transition: transform .3s ease;

            @media(min-width: 768px) {
                display: none;
            }
        }

        &--lg {
            display: none;

            @media(min-width: 768px) {
                display: block;
                fill: @color-accent2;
            }
        }
    }

    &__item-text {
        font-family: 'MontserratRegular', sans-serif;
        font-size: 11px;
        line-height: 1.6;
        padding-bottom: 20px;
        display: none;

        &.show {
            display: block;
        }

        &.hide {
            display: none;
        }
    }
}
